code { 
    font-size: 90%;
    line-height: 1.1em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

    display: inline; 
    color: #555555;
    padding: 0.05em 0.5em;
    background: #f4f4f4;
}

hr {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #555555;
}